<div class="card">
  <div class="data-item">
    <span class="subTitle">IP ADDRESS</span>
    <p>
      <span class="information">{{ ip || "Sin informacion"}}</span>
    </p>
  </div>
  <div class="divider"></div>
  <div class="data-item">
    <span class="subTitle"> LOCATION</span>
    <p>
      <span class="information">{{ location || "Sin informacion" }}</span>
    </p>
  </div>
  <div class="divider"></div>
  <div class="data-item">
    <span class="subTitle"> TIMEZONE</span>
    <p>
      <span class="information">{{ timezone || "Sin informacion"}}</span>
    </p>
  </div>
  <div class="divider"></div>
  <div class="data-item">
    <span class="subTitle"> ISP</span>
    <p>
      <span class="information">{{ isp || "Sin informacion"}}</span>
    </p>
  </div>
</div>
